##ORCID Authentication Variables for user to set
OAUTH_CLIENT_ID=<oauth app client id>
OAUTH_CLIENT_SECRET=<oauth_client_secret goes here>

##Variables already set
#Authentication variables
JWT_SECRET=insecure2520f59b2bccc64ce155482bc413f6b9ede5c6d418ab529d1b2051baa6f0849e
JWT_DOMAIN=deltabreed.localhost

# Database variables
DB_PASSWORD=postgres
DB_SERVER=dbserver:5432
DB_NAME=bidb
DB_USER=postgres

# Micronaut variables
API_INTERNAL_PORT=8081
API_INTERNAL_TEST_PORT=8082

BRAPI_READ_TIMEOUT=60m

# Max number of records to POST to the BrAPI service per request
POST_CHUNK_SIZE=1000

# Request cache records paginating through available records per program by CACHE_BRAPI_FETCH_PAGE_SIZE
CACHE_PAGINATE_GERMPLASM=false
CACHE_BRAPI_FETCH_PAGE_SIZE=65000

# BrAPI Server Variables
BRAPI_SERVER_PORT=8080

BRAPI_DEFAULT_URL=http://brapiserver:8080
BRAPI_REFERENCE_SOURCE=breedinginsight.org

#BrAPI database variables
BRAPI_DB_SERVER=dbserver:5432
BRAPI_DB=postgres
BRAPI_DB_USER=postgres
BRAPI_DB_PASSWORD=postgres

WEB_BASE_URL=http://deltabreed.localhost
API_BASE_URL=http://deltabreed.localhost

# Public domain name
REGISTERED_DOMAIN=deltabreed.localhost

# Email relay information
EMAIL_RELAY_HOST=mailhog
EMAIL_RELAY_PORT=1025
EMAIL_FROM=bidevteam@cornell.edu

REDIS_URL=redis://redis:6379

GIGWA_PORT=6060
GIGWA_HOST=http://gigwa:8080/
GIGWA_USER=gigwadmin
GIGWA_PASSWORD=nimda
GIGWA_MONGO_USER=mongo
GIGWA_MONGO_PASSWORD=mongo

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_KEY=test
#s3 bucket for genotypic data uploads
AWS_GENO_BUCKET=breedinginsight.org-dev-bucket
AWS_S3_ENDPOINT=http://localstack:4566

# feature flags
BRAPI_VENDOR_SUBMISSION_ENABLED=false # allow sample submissions to be transmitted to a vendor via BrAPI

#Change if want to override defaults

#REDIS_TIMEOUT=<timeout, default 30s>
#REDIS_SSL=<enable ssl, default false>
#USER_ID=<user id of system user, default 1001>
#GROUP_ID=<group id of system user, default 1001>

#Optional Variables
#ANALYTICS_GTAG_ID=<Google analytics gtag id>
#EMAIL_RELAY_LOGIN=
#EMAIL_RELAY_PASSWORD=