[submodule "bi-web"]
	path = bi-web
	url = https://github.com/Breeding-Insight/bi-web
	branch = release/1.1.1
[submodule "bi-api"]
	path = bi-api
	url = https://github.com/Breeding-Insight/bi-api
	branch = release/1.1.1
