[submodule "bi-web"]
	path = bi-web
	url = https://dmeidlin@bitbucket.org/breedinginsight/bi-web.git
[submodule "bi-api"]
	path = bi-api
	url = https://dmeidlin@bitbucket.org/breedinginsight/bi-api.git
